.container{
    margin: 1rem;
    color:var(--secondary-color);
    line-height: 1.8;
}
.aboutus h1,.vision h1,.mission h1,.whatwedo h1{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.aboutus p,.vision p,.mission ul li{
    font-size: large;
    margin: 1rem 0;
}
.highlight{
    font-weight: bold;
    font-style: italic;
}
.tagline{
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 5px;
    color: rgb(143, 135, 135);
}
.tagline:hover{
    border:2px solid var(--secondary-color);
    background-color: inherit;
    color: var(--secondary-color);
    transition: 0.3s;
}
@media(max-width:480px){
    .tagline{
        font-size: large;
    }
}